- content_for :title do
  Rubygem 
  \| 
  New enrollment

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
        = link_to @course.title, course_path(@course)
        %hr
        .fa.fa-lock-open
        Buy course
  .card-body
    = form_tag course_enrollments_path(@course) do
      - if @enrollment.price = 0
        = submit_tag "Free", class: 'btn btn-lg btn-success'
      - else
        = submit_tag "Pay" + ' ' + number_to_currency("#{@course.price}"), class: 'btn btn-lg btn-success'
  .card-footer
    = link_to 'Back', course_path(@course)
    